body {
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: large;
  line-height: 1;
}

.submit-button {
  display: inline;
  margin: 10px;
  color: #f95959;
  background-color: #455d7a;
  border-radius: 35px;
  padding: 10px;
  border: none;
  box-shadow: 2px 2px 4px #102919;
  transition: ease-in-out;
  font-size: 12px;
  transition-duration: 200ms;
}

.submit-button:hover {
  color: #233142;
  background-color: #f95959;
}

.city-search {
  display: inline;
  border-radius: 10px;
  border: solid 1px black;
  max-width: 20%;
}

.search-form {
  font-size: large;
}

.app {
  border: solid 2px #455d7a;
  border-radius: 20px;
  background-color: aliceblue;
  margin: 20px auto 0 auto;
  max-width: 800px;
  width: 80%;
  padding: 10px 20px;
}

.city {
  font-size: 24px;
  margin-top: 15px;
}

.date,
.descr,
.humidity,
.wind,
.C {
  font-size: 15px;
  line-height: 10px;
}

.temp {
  font-size: 50px;
  font-weight: 500;
  line-height: 40px;
}

.search-form {
  display: inline;
}

.link {
  display: block;
  margin: 0 auto;
  max-width: 780px;
  width: 80%;
}

.up {
  position: relative;
  bottom: 24%;
}

.descr:first-letter {
  text-transform: capitalize;
}

.active {
  color: #f95959;
  text-decoration: underline;
}

.active:hover {
  cursor: pointer;
}

#icon {
  font-size: 45px;
  margin-left: 10px;
}

.weather-forecast {
  padding: 10px;
  text-align: center;
}

.weather-forecast:hover {
}

.day-forecast {
  background-color: rgba(249, 89, 89, 0.2);
  border-radius: 4px;
}

.icon-forecast {
  margin: 0 auto;
  width: 70%;
}

.max {
  color: #f95959;
}

.min {
  color: rgba(69, 93, 122, 0.7);
}

.shadow-hov:hover {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  border-radius: 8px;
  background-color: azure;
}
