p {
  font-size: large;
  margin-left: 20px;
  line-height: 20px;
}

.submit-button {
  display: inline;
  margin: 10px;
  color: #f95959;
  background-color: #455d7a;
  border-radius: 35px;
  padding: 12px;
  border: none;
  box-shadow: 2px 2px 4px #102919;
  transition: ease-in-out;
  font-size: 12px;
  transition-duration: 200ms;
}

.submit-button:hover {
  color: #233142;
  background-color: #f95959;
}

.city-search {
  display: inline;
  border-radius: 10px;
  border: solid 1px black;
  max-width: 20%;
}

.search-form {
  font-size: large;
  padding: 20px 20px;
}

.app {
  border: solid 2px black;
  border-radius: 20px;
  background-color: aliceblue;
  opacity: 1;
  margin: 20px;
  max-width: 1000px;
  margin-bottom: 0;
}

#myVideo {
  opacity: 0.2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.city {
  font-size: 24px;
}

.date,
.descr,
.humidity,
.wind,
.C {
  font-size: 15px;
}

.temp {
  font-size: 50px;
  font-weight: bold;
  line-height: 40px;
}

.location-button {
  display: inline;
}

.search-form {
  display: inline;
}

a {
  margin-left: 30px;
  margin-top: 0;
}
